* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
}

h2::selection {
    background-color: #FACF0E;
    color: #041A2A;
}

p::selection {
    background-color: #A9D9FF;
    color: #041A2A;
}

body::-webkit-scrollbar {
    display: block;
    width: 8px;
    background: #FACF0E;
}

body::-webkit-scrollbar-thumb {
    background-color: #A9D9FF;

    border-radius: 50px;
}

body {
    overflow-x: hidden;
    background-color: #041a2a;
}

header {
    padding:10px;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #011421;
    color: #ffffff;   
}

header img {
    width: 100%;
    height: auto;
}

.logo {
    width: 100%; /* adjust according to your logo size */
    height: 75px; /* adjust according to your logo size */
    background-image: url('../logos/logo-transparent-svg.svg');
    background-size: contain; /* adjust according to your preference */
    background-repeat: no-repeat;
    background-position: center; /* center the image */
}

section {
    margin: 20px;
}

h2 {
    text-align: left;
    color: #facf0e;
}

p {
    margin: 10px 0;
    text-align: justify;
    color: #a9d9ff;
}

.button {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    background-color: #0d94f5;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0b3f65;
}

/* Form Styling */
form {
    background-color: #172b43; /* Darker blue background for the form */
    padding: 20px;
    border-radius: 10px;
}

label {
    display: block; /* Make labels appear on separate lines */
    margin-bottom: 5px;
    font-weight: bold;
    color: #c4e6ff; /* Lighter text color for labels */
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    color: #ccc;
    background-color: #0b3f65;
}

textarea {
    height: 150px; /* Set a height for the message textarea */
}

input[type=submit] {
  width: 200px;
  background-color: #0d94f5;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type=submit]:hover {
  background-color: #0b3f65;
}
  
footer {
    background-color: #011421;
    color: #fff;
    padding: 20px;  
}

footer p{
    text-align: center;
    color: #fff4a3;
}