body, html {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#destination-select-container {
  position: absolute;
  top: 2%;
  left: 1%;
  right:1%;
  padding: 10px 10px 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  background-color: rgba(0, 0, 0, 0.7); /* Use rgba for transparency */
  border-radius: 8px;
  color: #fff;
  z-index: 4;
}

#select-destination {
  width: calc(100% - 120px); /* Allow the container to adjust its width based on content */
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 8px;
  text-align: center;
  z-index: 4;
}

#get-direction-button {
  width: 110px; /* Set the width of the first container to 30% */
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
  text-align: center;
  background-color: #0100ff; /* Green */
  border: none;
  color: white;
  text-size-adjust: auto;
  text-decoration: none;
  z-index: 4;
}

#a-scene {
  flex: 1;
  margin: 0 auto;
  position: fixed; /* Adjust positioning if needed */
  width: 100%;
  height: 100%;
  z-index: 0; /* Lower z-index for AR scene */
}

#map-container {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); /* Corrected for centering */
  width: 100%;
  height: 23vh;
  border-top: 3px solid white;
  z-index: 1; /* Higher z-index for map container */
}

#map {
  width: 100%;
  height: 100%;
}

.compass {
  position: absolute;
  bottom: 24vh;
  right: 1%;
  width: 45px;
  height: 45px;
  cursor: pointer;
  transform-origin: center center;
  z-index: 2; /* Higher z-index for the multifunction button */
}

.compass img {
  width: 100%;
  height: 100%;
}

.custom-marker {
  background-size: cover;
  border-radius: 50%;
}

#multifunction-container {
  position: absolute;
  bottom: 1%;
  right: 1%;
  width: 45px;
  height: 45px;
  cursor: pointer;
  transform-origin: center center;
  z-index: 2; /* Higher z-index for the multifunction button */
}

#multifunction-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

#multifunction-button img {
  width: 100%;
  height: 100%;
}